@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "tailwindcss";


@theme {

    /* BACKGROUND header, footer, other  */
  --color-bg-main: #1A1953;
  --color-bg-surface: #121a2b;

  /* TEXT */
  --color-text-primary: #e6edf3;
  --color-text-secondary: #9fb0c3;

  /* BUTTONS menu and other */
  --color-btn-primary-bg: var(--color-primary);
  --color-btn-primary-text: #ffffff;

  /* STATES for typing view */
  --color-success: #22c55e;
  --color-danger: #ef4444;

  /* UI future terminal style */
  --color-terminal-border: #26324d;
  --color-terminal-bg: #ffffff;
  --color-terminal-main-text: #000000;
  --color-terminal-ghost-text: #000000;

}

@theme {
  --font-retro: 'Press Start 2P', cursive;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
